@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Main Container Layout for Desktop */
.main--container {
  display: grid;
  grid-template-columns: 20% 80%;
}

/* RFID Input - Hidden */
#rfidInput {
  opacity: 0;
  width: 0%;
}

/* Menu Button - hidden by default */
.menu-button {
  display: none;
  background: none;
  border: none;
  color: #f5f5f5;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 1000; /* Higher z-index for visibility */
}

/* Sidebar */
.sideNav {
  position: fixed;
  left: -250px; /* Initially hidden on mobile */
  transition: left 0.3s ease;
  width: 250px;
  height: 100vh;
  background-color: #333;
  z-index: 2; /* Ensure it appears above main content */
}

/* Show sidebar when open */
.sideNav.open {
  left: 0; /* Slide in from the left */
  width: 100%;
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Show the menu button on mobile */
  .menu-button {
    display: block;
  }

  /* Make main container full width on mobile */
  .main--container {
    grid-template-columns: 100%;
  }
}
